 /* FONTES EXTERNAS: */

@font-face {
    font-family: "ArcherPro Book";
    src: url("./assets/font-text/ArcherPro\ Book.otf");
}
@font-face {
    font-family: "ArcherPro Bold";
    src: url("./assets/font-text/ArcherPro\ Bold.otf");
}
 
 /* Reset: */

* {  
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}
.grid {
    display: grid;
    grid-auto-flow: column;
    gap: 3rem;
}

li {
    list-style: none;
}

html {
    font-size: 62.5%;
}

:root {

    /* Colors: */
    --unnamed-color-283137: #283137;
    --unnamed-color-033244: #033244;
    --unnamed-color-005271: #005271;
    --unnamed-color-0089bc: #0089BC;
    --unnamed-color-00aeef: #00AEEF;
    --unnamed-color-71d8ff: #71D8FF;
    --unnamed-color-b2eaff: #B2EAFF;
    --unnamed-color-e2f7ff: #E2F7FF;
}

/* Corpo: */


body {
    
    max-width: 192rem;
    margin: auto;
    font-size: 1.6rem;  
    
}

.container {
    
    max-width: 132rem;
    width: 90%;
    margin: 0 auto;
}

.titulo-a {
    font-size: 1.4rem;
    background-color: var(--unnamed-color-71d8ff);
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    color: var(--unnamed-color-033244);
}


/* Cabeçalho: */

#logo {
    margin-right: 6rem;
}

.navigation-1{
    height: 6.2rem;
    display: flex;
    justify-content: space-between;
}

#menu-esquerdo, #menu-direito {
    display: flex;
    align-items: center;
}

#menu-option ul li a{
    color: #2C3A2F;
    font-size: 1.4rem;
    font-family: "ArcherPro Book", sans-serif;
   
}
#menu-direito div {
    display: flex;
    align-items: center;
}

.menu-dia-a-dia {
    cursor: pointer;
}
.dia-a-dia-title{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: "ArcherPro Bold";   
    display: block;
    
}

#menu-direito .icon-seta-down-solid{
    margin-left: 0.6rem; 
    white-space: nowrap;
    display: block;

}


/*CONTEUDO*/

.section-1 {
    background-color: var(--unnamed-color-033244); 
    border-top: 0.3rem solid var(--unnamed-color-71d8ff)
}

#banner {
    display: block;
    width: 100%;
    border-bottom: 0.3rem solid var(--unnamed-color-71d8ff);
}

.navigation-2{  
    height: 6.9rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    
}
.navigation-2 ul li a {
    font-family: "ArcherPro Book", sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 1.4rem;
    padding: 0.4rem 0;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}





.section-1 div.container {
    position: relative;
}

#buscar {
    max-width: 23.8rem;
    height: 4.2rem;
    border: 1px solid var(--unnamed-color-00aeef);
    outline: none;
    border-radius: 0.8rem;
    background-color: var(--unnamed-color-033244);
    color: var(--unnamed-color-b2eaff);
    font-size: 1.4rem;
    padding: 1.2rem 1.5rem;
    font-family: "ArcherPro Book", sans-serif;
}

input#buscar::placeholder {
    color: var(--unnamed-color-b2eaff);
    opacity: .5;
}

/*MENU SITE ATIVO */

.menu-sites{
    display: none;
}

.section-1.active .menu-sites {
    font-family: 'Sora', sans-serif;
    display: block;
    position: absolute;
    height: 27.9rem;
    width: 120rem;
    max-width: 100%;
    border-top: 0.3rem solid var(--unnamed-color-71d8ff);
    background-color: #FFFFFF;
    z-index: 1;
   
}

.section-1 .navigation-2 ul li i {
    margin-left: 0.9rem;
    cursor: pointer;
    color: #FFFFFF;    
    white-space: nowrap;
 }

 .section-1 .navigation-2 .icon-seta-up-solid {
     display: none;
 }

.section-1.active .navigation-2 .icon-seta-up-solid {
    display: inline-block;
}
.section-1.active .navigation-2 .icon-seta-down-solid {
    display: none;
}


#caixa-menu-sites {
    max-width: 93.3rem;
    width: 98%;
    height: 19.2rem;
    margin: 3rem auto;
    display: grid;
    grid-auto-flow: column;
    gap: 14.5rem;
  
}

#caixa-menu-sites div h2 {
    font-size: 1.8rem;
    color: var(--unnamed-color-005271);
    font-weight: 800;
    position: relative;
    margin-bottom: 2.4rem;
}

#caixa-menu-sites div h2::after{
    content: '';
    position: absolute;
    bottom: -1.2rem;
    left: 0px;
    background-color: #C4C4C9;
    width: 6.3rem;
    height: 1px;
}

#caixa-menu-sites .div-1 ul li a {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--unnamed-color-033244);
    display: block;
    margin-top: 0.8rem;
}

#caixa-menu-sites div.div-1 {
    max-width: 9.2rem;
    margin: 0 auto;
}


.div-2, .div-3, .div-4 {
    max-width: 13rem;
    margin: 0 auto;
   
}

.div-2 ul li a, .div-3 ul li a, .div-4 ul li a {
    font-weight: normal;
    font-size: 1.4rem;
    display: block;
    margin-top: 0.8rem;
    white-space: nowrap;
}

/*------------------- */


#section-2{
    margin: 7.5rem auto 7rem;
    width: 100%;
    height: 36.4rem;
}
#section-2 .primeira-div {
    background-color: var(--unnamed-color-00aeef);
    height: 1px;
}

.section-2-initial {
    display: flex;
}
.section-2-lado-esquerdo{
    white-space: nowrap;
    margin-right: 11rem;
    position: relative;
}

.section-2-lado-esquerdo::after{
    content: '';
    position: absolute;
    top: 0;
    right: -4rem;
    width: 1px;
    height: 100%;
    background-color: var(--unnamed-color-00aeef);
}



.title-h2 {
    font-size: 3.2rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
}

.title-span {
    color: var(--unnamed-color-00aeef);
}


.section-2-initial .section-2-lado-esquerdo a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18.1rem;
    height: 3.6rem;
    margin-top: 4rem;
}


.carrossel{
    display: grid;
    grid-auto-flow: column;
    gap: 2.4rem;
}

.card-1, .card-2, .card-3 {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    width: 28.4rem;
    width: 100%;
    height: 31.6rem;
    padding: 3rem;
    transform: translateY(1%);
    transition: transform 0.3s;
}

.card-1:hover, .card-2:hover, .card-3:hover {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
    transform: translateY(0%);
    background-color: #f3f3f3e0
}

.carrossel div i{
    display: block;
    text-align: center;
}

.carrossel-title{
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    color: #101912;
    font-size: 1.6rem;
    margin: 1.6rem auto 1.1rem;
}

.carrossel div p {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: #101912;
    font-weight: 500;
    font-size: 1.5rem;
}

#produtos-nerd-web{
    width: 100%;
    background-color: #F3F3F3;
    height: 17.2rem;
    display: grid;
    grid-auto-flow: column;
    gap: 2rem;
    place-items: center;
    padding: 2rem;
}

#produtos-nerd-web div {
    max-width: 12.2rem;
    width: 100%;
    height: 13.2rem;
    background-color: #F3F3F3;
    mix-blend-mode: multiply;

}

#section-3 h2 {
    text-align: center;
    margin-bottom: 4rem;
    white-space: nowrap;
}
#section-3 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23.3rem;
    height: 3.7rem;
    margin: 4rem auto 0;
}
#produtos-nerd-web div {
    display: grid;


}

#produtos-nerd-web div img {
    display: block;
    max-width: 11rem;
    height: 8.67rem;
    margin: 1rem auto;

}

#produtos-nerd-web div p{
    text-align: center;
    text-transform: uppercase;
    color: #676767;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;    
    font-size: 1.4rem;
    margin: 0 auto 1rem;
}

#section-4 {
    margin: 8rem auto auto;
    width: 100%;
    height: 40.2rem;
    background: url("./assets/imagens/bg\ time.png") no-repeat 100%;
    display: inline-flex;
    align-items: center;
    justify-content: left;
    padding-left: 7rem;
}

#section-4 div {
   
    max-width: 64.6rem;
    width: 100%;
    height: 24.8rem;
    padding-left: 3.5rem;
    font-family: 'Roboto Slab', serif;

}

#section-4 div h3{
    color: var(--unnamed-color-033244);
    font-size: 3.2rem;
    font-weight: 900;
    margin-bottom: 2.4rem;
}

#section-4 div p {
    color: var(--unnamed-color-005271);
    font-size: 1.8rem;
    font-weight: bold;
    margin-right: 7.8rem;
    margin-bottom: 6rem;

}
#section-4 div a {
    height: 3.9rem;
    display: inline-block;
    padding: 1rem 3.5rem;
    font-size: 1.4rem;
    font-weight: 900;

}

#section-5{
    margin: 8rem auto auto;
    width: 100%;
    height: 58.1rem;
    font-family: 'Roboto Slab', serif;
}
.titulo-5 {
    margin-bottom: 4rem;
}
#section-5 .titulo-5 h3 {
   text-align: center;
   color: #2C3A2F;
   font-weight: 900;
   font-size: 3.2rem;

}
#section-5 .titulo-5 p {
    text-align: center;
    color: var(--unnamed-color-0089bc);
    font-size: 2rem;
    font-weight: 500;
}

#section-5 .secao-5-cards {
    display: grid;
    grid-auto-flow: column;
    gap: 2.4rem;
    width: 100%;
    height: 46.2rem;
    
}

.secao-5-card-1 {
    background: url("./assets/imagens/Imagem\ card\ serviço.png") no-repeat;
    max-width: 42.4rem;
    background-position: top center;
    height: 100%;
    position: relative;
}
.secao-5-card-2 {
    background: url("./assets/imagens/Imagem\ card\ serviço-1.png") no-repeat;
    max-width: 42.4rem;
    background-position: top center;
    height: 100%;
    position: relative;

}

.secao-5-card-3 {
    background: url("./assets/imagens/Imagem\ card\ serviço-2.png") no-repeat;
    max-width: 42.4rem;
    background-position: top center;
    height: 100%;
    position: relative;
}

.secao-5-titulo {
    font-size: 2rem;
    font-weight: 900;
    color: #FFFFFF;
    white-space: nowrap;
    margin-bottom: 1.6rem;
    
}

.secao-5-paragrafo {
    color: var(--unnamed-color-e2f7ff);
    font-size: 1.6rem;
    font-weight: 200;
    margin-bottom: 4rem;
    
}
.secao-5-botao {
    color: var(--unnamed-color-00aeef);
    font-size: 1.4rem;
    font-weight: 800;
    text-transform: uppercase;
}

.secao-5-txt {
    background-color: var(--unnamed-color-283137);
    padding: 2.4rem 1rem 3.5rem 2.5rem;
    width: 100%;
    height: 21.3rem;
    position: absolute;
    bottom: 0;  
}
#section-6 {
    margin: 7.6rem auto 8rem;
    background: url("./assets/imagens/BG\ CONHEÇA.png") no-repeat 100%;
    display: flex;
    align-items: center;
    height: 40rem;
}

#section-6 div {
    margin: auto 10rem;
    max-width: 64.6rem;
    width: 100%;
    height: 24.8rem;
    padding-left: 3.5rem;
    font-family: 'Roboto Slab', serif;

}

#section-6 div h3{
    color: #FFFFFF;
    font-size: 3.2rem;
    font-weight: 900;
    margin-bottom: 1.6rem;
    width: 55.1rem;
}

#section-6 div p {
    color: var(--unnamed-color-71d8ff);
    font-size: 2rem;
    font-weight: 500;
    margin-right: 7.8rem;
    margin-bottom: 4rem;
    width: 60.7rem;

}
#section-6 div a {
    width: 17.6rem;
    height: 3.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 900;
    color: #FFFFFF;
    background-color: var(--unnamed-color-0089bc);
}

#section-7 {
    margin: 8rem auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
